<div id="aboutRightContainer">
    <img class="aboutMeItemsPics" src="assets/salmon.png">'

    <p> 
             
             A common problem that my group faced was not being able to pick clothes that would look good together.
           So we developed an app called Match n Dash which was essentially an app that helped people who didn't know which clothes colors went well together and selected it for them.
            Our color choice picks were based on the color spectrum and which colors blended in together the best.
    </p>
</div>
<div id="aboutLeftContainer">
    <img class="aboutMeItemsPics" src="assets/salmon.png">'

    <p> 
            I've created two mobile Applications. One was called Salmon which was an application to help
            students who were afraid to ask questions too their peers. It consisted of an anonymous chat so that students would'nt have to worry 
            about revealing their identity or any personal information which would make the students feel more secure about asking questions. 
    </p>
</div>

 


