<div id="aboutRightContainer">
    <img class="aboutMeItemsPics" src="assets/salmon.png">'

    <p> My name is Christian Barahoan and I am a leader and developer working to serve my community.
    I've been with TXT for 3 years and I've created two mobile Applications. One was called Salmon which was an application to help
    students who were afraid to ask querstions too their peers. The other application I created with my team is an app called Match n Dash
    which was essentially an app that helped people who didn't know which clothes colors went well together and selected it for them.
    </p>
</div>
<div id="aboutLeftContainer">
    <img class="aboutMeItemsPics" src="assets/salmon.png">'

    <p> My name is Christian Barahoan and I am a leader and developer working to serve my community.
    I've been with TXT for 3 years and I've created two mobile Applications. One was called Salmon which was an application to help
    students who were afraid to ask querstions too their peers. The other application I created with my team is an app called Match n Dash
    which was essentially an app that helped people who didn't know which clothes colors went well together and selected it for them.
    </p>
</div>



