
.content-container {
    background:#3FA0E1;
    height:100vh;
    width :100vw;
    font-weight:bold;
    cursor:pointer;
}
.cool{

    text-align: center;

    height: 200px;
    width: 400px;
    font-size: 40px;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: -100px;
    margin-left: -500px;

    


}