<div id="blogContainer">
<div class="row">

    <!-- Post Content Column -->
    <div>
        <a routerLink="/blog">previous blog</a>
        <a routerLink="/blog-3">next blog</a>

      <!-- Title -->
      <h1 class="mt-4">Blog 2</h1>

      <!-- Author -->
      

      <hr>

      <!-- Date/Time -->
      <p>Posted on March 14, 2018 </p>

      <hr>

      <!-- Preview Image -->
      <!-- <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> -->

      <hr>

      <!-- Post Content -->
      <p class="lead"> Today I protested with my fellow students from LACES against the NRA and to regulate gun laws. It was originally supposed to only be a 17 minute event of protesting but a group continued and despite the cops telling us to go back, we kept marching.
        One thing that I learned from this walkout is that if you want to lead a protest, you have to be really knowlegable about the subject your protesting against. You also have to have a plan of how you're going to execute everything to make sure that you get your mission
        accomplished. I wasn't able to take the Lead in that protesting group because I didn't have enough of the background knowledge on that particular subject of guns and the NRA. Next time I'm in a protest I'll make sure to fill myself with knowledge on the subject at hand.
        
      </p>

      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>

      <blockquote class="blockquote">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in
          <cite title="Source Title">Source Title</cite>
        </footer>
      </blockquote>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>

      <hr> -->

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <!-- Single Comment -->
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0"></h5>
 
        </div>
      </div>
</div>