<div id="blogContainer">
  <div class="row">

    <!-- Post Content Column -->
    <div>
      <a routerLink="/blog-2">next blog</a>
      <!-- Title -->
      <h1 class="mt-4">Blog</h1>

      <!-- Author -->


      <hr>

      <!-- Date/Time -->
      <p>Posted on March 8, 2018 </p>

      <hr>

      <!-- Preview Image -->
      <!-- <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> -->

      <hr>

      <!-- Post Content -->
      <p class="lead">Today we read the Art of War in class and I pulled lots of strategies and lessons from what I read. But the greatest
        takeaway I got from it today was that the best way to win a war(in some cases) is by not fighting at all. I usually
        tend to get mad at people who laugh at me or offend me in a certain type of way. Like the other day this guy in my
        history class that I don't like laughed at my name because the teacher pronounced it "Christina" by accident, He
        was the only one in the whole class who kept laughing for awhile and maaaaaaannn... I could have roasted this guy
        so hard, the only stopping me that day was my friend who told me to say nothing. This relates to winning by not fighting
        at all because by staying quiet I'm ending more conflict, whether it be with my teacher, principal, him, etc. By
        staying quiet I avoid all those problems and deep inside I know that I have a better future then him so by staying
        quiet, I win.

      </p>

      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>

      <blockquote class="blockquote">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in
          <cite title="Source Title">Source Title</cite>
        </footer>
      </blockquote>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>

      <hr> -->

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <!-- Single Comment -->
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0"></h5>

        </div>
      </div>
    </div>