<h2>Welcome to my Portfolio!</h2>
<img id="pic" src="./assets/christian.png"/>
<p>My name is Christian Barahona, I enjoy playing sports such as soccer and volleyball and I also enjoy running. I've been in TXT 
for 3 years now and I always come back because they teach me about Leadership and coding that I wouldn't be able to learn anywhere else
the way they teach it here. I've been blessed with a place that teaches me what school can't teach me, skills like critical thinking, entrepreneurship,
and they teach me values that changed who I am, otherwise known as the Leadership Creed.

</p>
